header{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 10px 0 rgba(0, 0, 0, 0.10);
    background-color: #ffffff;
    padding: 1%;
    margin-bottom: 1.5%;
}
header>titulo{
    font-size: 35px;
    font-family: sans-serif;
}